name: Build
on: pull_request

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
      - name: Build the app
        run: ./gradlew build
  test:
    runs-on: windows-latest
    steps:
       - uses: actions/checkout@v2
       - name: set up JDK 1.8
         uses: actions/setup-java@v1
         with:
           java-version: 1.8
       - name: Run tests
         run: ./gradlew test connectedAndroidTest --warning-mode=all
